In [1]:
import pandas as pd

from qamsi.utils.data import read_csv

dataset = read_csv("../../data/output/", "top30_data_df.csv")

In [2]:
dataset.head()

,10078,10104,10107,10147,10401,10604,11042,11081,11308,11471,...,vol,naive_vol,target,avg_corr,avg_vol,ewma,lw_shrinkage,momentum_feature,trace,universe_vol
date,,,,,,,,,,,,,,,,,,,,,
1980-01-02,NaN,NaN,NaN,NaN,-0.002398,-0.018750,NaN,NaN,-0.021739,-0.021164,...,NaN,NaN,NaN,NaN,NaN,-0.028154,0.000000,0.066667,NaN,0.000000
1980-01-03,NaN,NaN,NaN,NaN,-0.004808,-0.012739,NaN,NaN,0.025926,-0.043243,...,NaN,NaN,NaN,0.259770,0.020488,-0.030405,0.000000,0.250000,0.020518,0.003024
1980-01-04,NaN,NaN,NaN,NaN,0.000000,0.012903,NaN,NaN,0.010830,0.025424,...,NaN,NaN,NaN,0.638233,0.023627,-0.026924,0.265296,0.455556,0.020886,0.005790
1980-01-07,NaN,NaN,NaN,NaN,0.000000,0.015924,NaN,NaN,-0.003571,-0.005510,...,NaN,NaN,NaN,0.588472,0.020619,-0.025270,0.383519,0.458333,0.015572,0.005586
1980-01-08,NaN,NaN,NaN,NaN,0.012077,0.028213,NaN,NaN,0.007168,0.024931,...,NaN,NaN,NaN,0.682114,0.023730,-0.018116,0.369360,0.560000,0.019645,0.014147

In [4]:
dataset.drop(columns=["spx_fut", "end_date", "vol", "naive_vol", "target", "avg_corr", "avg_vol", "ewma", "lw_shrinkage", "momentum_feature", "trace", "universe_vol"]).to_parquet("returns_df.parquet")

In [6]:
import pandas as pd

data = pd.read_parquet("returns_df.parquet")
data.head()

,10078,10104,10107,10147,10401,10604,11042,11081,11308,11471,...,92655,93002,93436,low_risk,momentum,quality,size,value,spx,acc_rate
date,,,,,,,,,,,,,,,,,,,,,
1980-01-02,NaN,NaN,NaN,NaN,-0.002398,-0.018750,NaN,NaN,-0.021739,-0.021164,...,NaN,NaN,NaN,0.015975,-0.011926,-0.004586,0.005969,0.010667,-0.020556,0.00036
1980-01-03,NaN,NaN,NaN,NaN,-0.004808,-0.012739,NaN,NaN,0.025926,-0.043243,...,NaN,NaN,NaN,0.001756,-0.003526,-0.003500,-0.004050,0.002117,-0.005466,0.00036
1980-01-04,NaN,NaN,NaN,NaN,0.000000,0.012903,NaN,NaN,0.010830,0.025424,...,NaN,NaN,NaN,-0.013127,0.006504,-0.000111,0.001486,-0.005577,0.011995,0.00036
1980-01-07,NaN,NaN,NaN,NaN,0.000000,0.015924,NaN,NaN,-0.003571,-0.005510,...,NaN,NaN,NaN,-0.003428,0.004751,-0.000279,0.000798,-0.001788,0.002362,0.00036
1980-01-08,NaN,NaN,NaN,NaN,0.012077,0.028213,NaN,NaN,0.007168,0.024931,...,NaN,NaN,NaN,-0.006439,0.002184,0.002306,0.000385,-0.002678,0.019676,0.00036

In [7]:
pm = read_csv("../../data/output/", "top30_presence_matrix.csv")
pm.to_parquet("presence_matrix.parquet")