In [1]:
import pandas as pd

from qamsi.utils.data import read_csv

In [2]:
recent = read_csv(".", "1_targets.csv", "end_date")
for i in range(2, 9):
    ckpt = read_csv(".", f"{i}_targets.csv", "end_date")
    recent = pd.concat([recent, ckpt], axis=0)

In [3]:
recent = recent[~recent.index.duplicated(keep="first")]
recent

            start_date       vol  naive_vol  shrinkage
end_date
1981-01-29  1980-12-31  0.006478   0.006508   0.167364
1981-01-30  1981-01-02  0.006500   0.006614   0.382393
1981-02-02  1981-01-05  0.005181   0.005253   0.197455
1981-02-03  1981-01-06  0.004921   0.004940   0.145795
1981-02-04  1981-01-07  0.004314   0.004395   0.210126
...                ...       ...        ...        ...
2023-12-12  2023-11-13  0.004721   0.004726   0.122149
2023-12-13  2023-11-14  0.004817   0.005012   0.410885
2023-12-14  2023-11-15  0.005649   0.005740   0.313682
2023-12-15  2023-11-16  0.005901   0.005952   0.283729
2023-12-18  2023-11-17  0.005987   0.006178   0.428513

[10813 rows x 4 columns]

In [4]:
recent.to_csv("full_targets.csv")