In [2]:
from pathlib import Path

import pandas as pd

from qamsi.utils.data import read_csv
from run import Dataset

TOP_N = 30
DATASET = Dataset.TOPN_US.value(topn=TOP_N)

recent = read_csv(".", f"QIS_targets_{TOP_N}.csv", "start_date")

In [3]:
recent

              end_date       vol  naive_vol  shrinkage
start_date
1982-01-04  1982-02-04  0.007852   0.008069   0.500000
1982-01-05  1982-02-05  0.007493   0.007710   0.500000
1982-01-06  1982-02-06  0.007696   0.007900   0.500000
1982-01-07  1982-02-07  0.007939   0.008145   0.500000
1982-01-08  1982-02-08  0.007859   0.008074   0.500000
...                ...       ...        ...        ...
2024-06-24  2024-07-24  0.005679   0.005685   0.503389
2024-06-25  2024-07-25  0.005604   0.005623   1.935424
2024-06-26  2024-07-26  0.005814   0.005843   1.935424
2024-06-27  2024-07-27  0.005842   0.005867   1.935424
2024-06-28  2024-07-28  0.005828   0.005846   1.935424

[10711 rows x 4 columns]

In [6]:
recent = recent.rename(columns={"start_date": "date", "shrinkage": "qis_shrinkage", "vol": "qis_vol"})

In [4]:
data_df = pd.read_csv(Path("../../data/output") / DATASET.DF_FILENAME)
data_df["date"] = pd.to_datetime(data_df["date"])
data_df = data_df.set_index("date")

In [5]:
data_df.shape

(11324, 154)

In [7]:
data_df = data_df.merge(recent[["qis_shrinkage", "qis_vol"]], how="left", left_index=True, right_index=True)
data_df

,10078,10104,10107,10147,10401,10604,11042,11081,11308,11471,...,universe_vol,lagged_target,target_rolling_mean,target_rolling_vol,trace,cgp_ucb,irl,irl_gail,qis_shrinkage,qis_vol
date,,,,,,,,,,,,,,,,,,,,,
1980-01-31,NaN,NaN,NaN,NaN,-0.002475,-0.023136,NaN,NaN,0.003571,-0.016204,...,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
1980-02-01,NaN,NaN,NaN,NaN,0.007444,-0.003947,NaN,NaN,-0.007117,-0.002353,...,0.007453,NaN,NaN,0.000000,0.013149,NaN,NaN,NaN,NaN,NaN
1980-02-04,NaN,NaN,NaN,NaN,0.000000,0.015588,NaN,NaN,-0.007168,-0.005189,...,0.005285,NaN,NaN,0.000000,0.010395,NaN,NaN,NaN,NaN,NaN
1980-02-05,NaN,NaN,NaN,NaN,0.012315,0.026247,NaN,NaN,-0.010830,0.002392,...,0.004414,NaN,NaN,0.000000,0.007977,NaN,NaN,NaN,NaN,NaN
1980-02-06,NaN,NaN,NaN,NaN,0.007299,0.048593,NaN,NaN,-0.018248,0.007160,...,0.010827,NaN,NaN,0.000000,0.012255,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,NaN,0.013421,0.009374,NaN,NaN,NaN,NaN,NaN,0.007374,NaN,...,0.027874,NaN,0.296446,0.001180,0.012827,NaN,NaN,NaN,NaN,NaN
2024-12-26,NaN,0.001575,-0.002777,NaN,NaN,NaN,NaN,NaN,-0.004297,NaN,...,0.027871,NaN,0.294942,0.001175,0.012451,NaN,NaN,NaN,NaN,NaN
2024-12-27,NaN,-0.015843,-0.017302,NaN,NaN,NaN,NaN,NaN,-0.001918,NaN,...,0.027908,NaN,0.293464,0.001172,0.012570,NaN,NaN,NaN,NaN,NaN
2024-12-30,NaN,-0.012133,-0.013240,NaN,NaN,NaN,NaN,NaN,-0.006725,NaN,...,0.027998,NaN,0.291969,0.001168,0.013056,NaN,NaN,NaN,NaN,NaN
2024-12-31,NaN,-0.001618,-0.007838,NaN,NaN,NaN,NaN,NaN,0.003708,NaN,...,0.028110,NaN,0.290489,0.001165,0.012706,NaN,NaN,NaN,NaN,NaN

In [8]:
data_df.to_csv(Path("../../data/output") / DATASET.DF_FILENAME)