In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

from config.experiment_config import ExperimentConfig

In [3]:
factors_df = pd.read_csv(
    ExperimentConfig.PATH_FACTOR_DATA / ExperimentConfig.FACTORS_FILENAME
)
factors_df.head()

  location      name   freq weighting  n_factors        date       ret
0      usa  accruals  daily    vw_cap          1  1946-01-02 -0.002154
1      usa  accruals  daily    vw_cap          1  1946-01-03  0.000381
2      usa  accruals  daily    vw_cap          1  1946-01-04  0.002920
3      usa  accruals  daily    vw_cap          1  1946-01-05  0.001483
4      usa  accruals  daily    vw_cap          1  1946-01-07  0.000729

In [4]:
available_factors = pd.unique(factors_df.name)
available_factors

array(['accruals', 'debt_issuance', 'investment', 'low_leverage',
       'low_risk', 'momentum', 'profit_growth', 'profitability',
       'quality', 'seasonality', 'short_term_reversal', 'size', 'value'],
      dtype=object)

In [5]:
FACTORS = ["low_risk", "momentum", "quality", "size", "value"]
factors_df = factors_df[factors_df.name.isin(FACTORS)]
factors_df["date"] = pd.to_datetime(factors_df["date"])
factors_df = factors_df.set_index("date")

In [6]:
full_df = pd.read_csv(ExperimentConfig.PATH_OUTPUT / ExperimentConfig.DF_FILENAME)
full_df["date"] = pd.to_datetime(full_df["date"])
full_df = full_df.set_index("date")

In [7]:
for factor in factors_df["name"].unique():
    full_df[factor] = factors_df[factors_df["name"] == factor]["ret"].reindex(
        full_df.index
    )

In [8]:
for factor in FACTORS:
    full_df[factor] = full_df[factor] + full_df["acc_rate"]

In [9]:
full_df.to_csv(ExperimentConfig.PATH_OUTPUT / ExperimentConfig.DF_FILENAME)