In [1]:
import pandas as pd

from run import Dataset

DATASET = Dataset.SPX_US

config = DATASET.value()
config

(CVXPY) Jun 11 03:52:06 PM: Encountered unexpected exception importing solver PROXQP:
ImportError("dlopen(/Users/buchkovv/qamsi/.venv/lib/python3.12/site-packages/cmeel.prefix/lib/python3.12/site-packages/proxsuite/proxsuite_pywrap.cpython-312-darwin.so, 0x0002): Library not loaded: @rpath/libc++.1.dylib\n  Referenced from: <73C5C23C-530A-3E0E-A88E-7897A0C69618> /Users/buchkovv/qamsi/.venv/lib/python3.12/site-packages/cmeel.prefix/lib/python3.12/site-packages/proxsuite/proxsuite_pywrap.cpython-312-darwin.so\n  Reason: tried: '/Users/runner/miniconda3/envs/proxsuite/lib/libc++.1.dylib' (no such file), '/System/Volumes/Preboot/Cryptexes/OS/Users/runner/miniconda3/envs/proxsuite/lib/libc++.1.dylib' (no such file), '/var/folders/0j/bwqcs4y508s2n4ck4dhf3rpc0000gn/T/cmeel-qko5evau/whl/cmeel.prefix/lib/libc++.1.dylib' (no such file), '/System/Volumes/Preboot/Cryptexes/OS/var/folders/0j/bwqcs4y508s2n4ck4dhf3rpc0000gn/T/cmeel-qko5evau/whl/cmeel.prefix/lib/libc++.1.dylib' (no such file), '/Users/runner/miniconda3/envs/proxsuite/lib/libc++.1.dylib' (no such file), '/System/Volumes/Preboot/Cryptexes/OS/Users/runner/miniconda3/envs/proxsuite/lib/libc++.1.dylib' (no such file), '/var/folders/0j/bwqcs4y508s2n4ck4dhf3rpc0000gn/T/cmeel-qko5evau/whl/cmeel.prefix/lib/libc++.1.dylib' (no such file), '/System/Volumes/Preboot/Cryptexes/OS/var/folders/0j/bwqcs4y508s2n4ck4dhf3rpc0000gn/T/cmeel-qko5evau/whl/cmeel.prefix/lib/libc++.1.dylib' (no such file), '/Users/buchkovv/.pyenv/versions/3.12.5/lib/libc++.1.dylib' (no such file), '/System/Volumes/Preboot/Cryptexes/OS/Users/buchkovv/.pyenv/versions/3.12.5/lib/libc++.1.dylib' (no such file), '/opt/homebrew/lib/libc++.1.dylib' (no such file), '/System/Volumes/Preboot/Cryptexes/OS/opt/homebrew/lib/libc++.1.dylib' (no such file), '/Users/buchkovv/.pyenv/versions/3.12.5/lib/libc++.1.dylib' (no such file), '/System/Volumes/Preboot/Cryptexes/OS/Users/buchkovv/.pyenv/versions/3.12.5/lib/libc++.1.dylib' (no such file), '/opt/homebrew/lib/libc++.1.dylib' (no such file), '/System/Volumes/Preboot/Cryptexes/OS/opt/homebrew/lib/libc++.1.dylib' (no such file)")

ExperimentConfig:
* RANDOM_SEED = 12
* PATH_OUTPUT = /Users/buchkovv/qamsi/data/output
* SAVE_PATH = /Users/buchkovv/qamsi/backtests/runs
* DF_FILENAME = spx_data.csv
* START_DATE = 2000-02-08 00:00:00
* END_DATE = 2024-12-31 00:00:00
* REBALANCE_FREQ = 7
* HEDGE_FREQ = 1
* N_LOOKBEHIND_PERIODS = 252
* MIN_ROLLING_PERIODS = 252
* ASSET_UNIVERSE = ('spx',)
* FACTORS = ('spx',)
* HEDGING_ASSETS = ('spx_fut',)
* RF_NAME = acc_rate
* MKT_NAME = spx
* FRACTIONAL_DIFFERENCING = 0.5
* PATH_FEATURES = /data/gw
* PATH_MARKET_DATA = /data/spx_stocks
* PATH_BETTER_MARKET_DATA = /data/spxc
* PATH_INPUT = /Users/buchkovv/qamsi/data/input
* INITIAL_DF_FILENAME = initial_df.csv
* JKP_DATA_FILENAME = jkp_data.csv
* STOCKS_LIST_FILENAME = spx_stocks_list.csv
* INITIAL_FEATURES_FILENAME = initial_features_df.csv
* RETURNS_FILENAME = returns_incl_div_consituents_w_name.csv
* BETTER_RETURNS_FILENAME = returns_data_cleaned_better.parquet
* PRESENCE_MATRIX_FILENAME = presence_matrix.csv

In [12]:
from pathlib import Path

features = pd.read_excel(Path("../../data/gw") / "Data2023.xlsx", sheet_name="Monthly")
features.head()

,yyyymm,price,d12,e12,ret,retx,AAA,BAA,lty,ltr,...,ygap,rdsp,rsvix,gpce,gip,tchi,house,avgcor,shtint,disag
0,187101,4.44,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,187102,4.50,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,187103,4.61,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,187104,4.74,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,187105,4.86,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
features = features.rename(columns={"yyyymm": "date"})
features["date"] = pd.to_datetime(features["date"], format="%Y%m")
features = features.set_index("date")
features.head()

,price,d12,e12,ret,retx,AAA,BAA,lty,ltr,corpr,...,ygap,rdsp,rsvix,gpce,gip,tchi,house,avgcor,shtint,disag
date,,,,,,,,,,,,,,,,,,,,,
1871-01-01,4.44,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1871-02-01,4.50,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1871-03-01,4.61,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1871-04-01,4.74,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1871-05-01,4.86,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
data = pd.read_csv(Path("../../data/output") / "spx_data.csv")
data["date"] = pd.to_datetime(data["date"])
data = data.set_index("date")
data.shape

(4980, 2074)

In [15]:
data = data.merge(features, how="left", on="date")
data.head()

,10078,10104,10107,10108,10137,10138,10145,10147,10225,10299,...,ygap,rdsp,rsvix,gpce,gip,tchi,house,avgcor,shtint,disag
date,,,,,,,,,,,,,,,,,,,,,
2004-03-19,-0.021635,-0.009475,-0.010446,0.002195,0.007371,0.001694,-0.002750,-0.016179,-0.001853,-0.031840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-03-22,-0.004914,-0.013913,-0.005278,-0.014599,0.008130,-0.024330,-0.027267,-0.037588,-0.003845,0.007246,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-03-23,-0.009877,0.005291,-0.014286,0.003704,0.034677,-0.002513,0.005039,0.015460,-0.005723,-0.004981,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-03-24,-0.007481,0.011404,0.010766,0.001845,-0.005456,0.000000,0.002194,0.015224,-0.001339,0.020857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-03-25,0.042714,0.035559,0.031954,0.009945,0.018025,0.010078,0.027830,0.066298,0.008981,0.022092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
stocks = tuple(
    pd.read_csv(config.PATH_OUTPUT / config.STOCKS_LIST_FILENAME)
    .iloc[:, 0]
    .astype(str)
    .tolist(),
)

ret = data[stocks]
ret.shape

KeyError: ('10078', '10104', '10107', '10108', '10137', '10138', '10145', '10147', '10225', '10299', '10324', '10353', '10401', '10516', '10562', '10604', '10623', '10693', '10696', '10725', '10786', '10791', '10866', '10874', '10890', '10909', '10942', '10989', '11042', '11081', '11308', '11340', '11403', '11404', '11415', '11533', '11552', '11600', '11607', '11618', '11674', '11703', '11754', '11762', '11786', '11850', '11891', '11896', '11955', '11970', '11976', '11983', '11997', '12052', '12060', '12062', '12067', '12073', '12079', '12140', '12308', '12319', '12369', '12431', '12448', '12449', '12456', '12458', '12476', '12490', '12503', '12511', '12558', '12570', '12622', '12623', '12650', '12749', '12872', '12981', '13035', '13056', '13100', '13119', '13141', '13168', '13210', '13303', '13323', '13356', '13407', '13447', '13511', '13567', '13598', '13641', '13688', '13721', '13788', '13821', '13856', '13901', '13911', '13928', '13936', '13949', '13963', '13964', '13983', '14008', '14295', '14322', '14323', '14338', '14541', '14542', '14579', '14593', '14601', '14656', '14702', '14714', '14736', '14763', '14776', '14795', '14882', '14889', '14891', '14939', '15069', '15077', '15202', '15272', '15291', '15368', '15401', '15404', '15408', '15456', '15472', '15488', '15553', '15560', '15579', '15659', '15667', '15707', '15719', '15720', '15797', '15850', '15980', '16044', '16087', '16267', '16276', '16279', '16343', '16347', '16424', '16431', '16432', '16544', '16600', '16678', '16692', '16816', '16851', '17005', '17137', '17144', '17279', '17478', '17700', '17726', '17743', '17750', '17783', '17806', '17830', '17942', '17961', '18016', '18065', '18092', '18112', '18142', '18163', '18312', '18327', '18382', '18403', '18411', '18420', '18421', '18428', '18542', '18576', '18578', '18592', '18649', '18681', '18729', '18921', '19166', '19285', '19286', '19350', '19393', '19502', '19561', '19596', '19692', '19721', '19807', '19895', '20053', '20057', '20124', '20190', '20204', '20220', '20415', '20482', '20626', '20853', '21004', '21020', '21055', '21124', '21178', '21186', '21207', '21290', '21371', '21397', '21573', '21776', '21792', '21821', '21936', '21979', '22023', '22032', '22066', '22103', '22111', '22250', '22293', '22496', '22509', '22517', '22541', '22592', '22613', '22623', '22680', '22752', '22753', '22779', '22840', '22947', '22976', '23026', '23077', '23085', '23114', '23229', '23309', '23317', '23318', '23393', '23473', '23499', '23501', '23536', '23552', '23570', '23579', '23660', '23712', '23819', '23851', '23876', '23887', '23915', '23931', '23942', '23944', '23990', '24010', '24046', '24053', '24109', '24174', '24175', '24184', '24205', '24221', '24272', '24328', '24360', '24459', '24539', '24563', '24643', '24678', '24766', '24803', '24811', '24942', '24985', '25013', '25022', '25081', '25099', '25232', '25320', '25419', '25487', '25582', '25769', '25778', '25785', '25953', '26075', '26112', '26294', '26332', '26382', '26403', '26438', '26518', '26657', '26710', '26825', '27043', '27422', '27430', '27633', '27713', '27756', '27764', '27828', '27887', '27959', '27983', '27991', '28118', '28222', '28345', '28353', '28484', '28804', '28847', '29102', '29946', '30382', '30681', '30940', '32379', '32707', '32791', '32803', '32870', '32942', '32986', '34032', '34746', '34817', '34833', '34841', '35044', '35051', '35238', '35554', '36003', '36127', '36397', '36468', '36469', '37161', '37284', '37584', '38093', '38156', '38578', '38682', '38703', '38762', '38850', '38893', '38914', '38973', '39087', '39490', '39538', '39642', '39765', '39917', '40061', '40125', '40272', '40416', '40483', '40539', '40838', '41080', '41355', '41443', '41929', '42024', '42083', '42104', '42200', '42534', '42550', '42585', '42606', '42796', '42877', '42906', '43123', '43350', '43449', '43553', '43610', '43772', '44062', '44206', '44329', '44601', '44644', '44792', '44951', '45241', '45277', '45428', '45495', '45671', '45751', '45794', '45911', '46228', '46295', '46578', '46674', '46850', '46877', '46886', '46922', '47159', '47175', '47271', '47466', '47490', '47626', '47896', '47941', '48071', '48267', '48274', '48397', '48485', '48486', '48506', '48514', '48565', '48653', '48725', '48960', '49015', '49154', '49373', '49429', '49656', '49680', '49744', '49905', '50017', '50032', '50200', '50227', '50876', '50905', '50906', '51043', '51263', '51369', '51377', '51588', '51596', '51625', '51706', '52038', '52090', '52230', '52329', '52337', '52476', '52695', '52708', '52919', '52978', '53065', '53225', '53479', '53612', '53613', '53831', '53866', '54148', '54181', '54463', '54827', '55212', '55976', '56223', '56232', '56274', '56573', '57568', '57665', '57809', '57817', '57904', '58094', '58246', '58318', '58464', '58683', '58819', '58990', '59010', '59176', '59184', '59192', '59248', '59328', '59345', '59379', '59408', '59440', '59459', '59467', '59483', '60097', '60206', '60441', '60442', '60506', '60599', '60628', '60871', '60943', '60986', '61065', '61241', '61399', '61516', '61583', '61621', '61663', '61735', '61743', '61815', '62092', '62148', '62308', '62498', '62519', '62770', '62834', '63060', '63467', '63765', '63830', '64020', '64186', '64282', '64311', '64390', '64477', '64565', '64856', '64936', '64995', '65138', '65330', '65402', '65541', '65787', '65875', '65883', '66093', '66114', '66122', '66157', '66181', '66325', '66384', '66800', '67467', '68049', '68144', '68304', '68347', '68591', '68857', '69032', '69550', '69607', '69649', '69796', '70033', '70092', '70229', '70308', '70332', '70376', '70500', '70519', '70536', '70578', '71175', '71563', '71686', '72726', '73139', '73940', '75034', '75100', '75107', '75175', '75186', '75224', '75241', '75257', '75333', '75489', '75510', '75573', '75577', '75591', '75607', '75625', '75646', '75694', '75789', '75825', '75828', '75857', '75912', '76076', '76082', '76090', '76095', '76122', '76129', '76149', '76171', '76185', '76201', '76226', '76230', '76240', '76282', '76557', '76565', '76597', '76605', '76614', '76619', '76624', '76625', '76638', '76639', '76644', '76656', '76708', '76709', '76712', '76744', '76757', '76795', '76804', '76841', '76887', '77037', '77063', '77150', '77157', '77173', '77178', '77182', '77274', '77281', '77284', '77338', '77357', '77418', '77462', '77481', '77496', '77546', '77605', '77606', '77649', '77659', '77661', '77668', '77702', '77730', '77768', '77976', '78034', '78083', '78139', '78263', '78840', '78877', '78916', '78975', '78987', '79089', '79094', '79103', '79108', '79212', '79265', '79323', '79411', '79545', '79588', '79637', '79678', '79698', '79718', '79785', '79879', '79881', '79906', '79915', '79973', '80055', '80080', '80191', '80204', '80266', '80286', '80303', '80320', '80470', '80515', '80539', '80563', '80599', '80913', '81055', '81061', '81126', '81138', '81193', '81262', '81285', '81481', '81540', '81593', '81655', '81677', '81696', '81736', '81774', '81776', '81857', '82196', '82276', '82298', '82303', '82307', '82308', '82515', '82581', '82598', '82618', '82642', '82643', '82647', '82651', '82686', '82775', '82959', '83111', '83143', '83332', '83413', '83421', '83435', '83440', '83443', '83462', '83583', '83596', '83597', '83601', '83621', '83630', '83693', '83699', '83862', '83906', '83976', '83981', '84001', '84020', '84032', '84036', '84129', '84176', '84262', '84342', '84372', '84373', '84375', '84381', '84519', '84761', '84769', '84788', '85032', '85035', '85072', '85073', '85257', '85269', '85271', '85348', '85459', '85516', '85522', '85593', '85599', '85621', '85631', '85663', '85675', '85753', '85792', '85869', '85908', '85913', '85914', '85926', '85963', '85991', '86021', '86041', '86102', '86111', '86136', '86158', '86176', '86228', '86288', '86305', '86339', '86356', '86414', '86496', '86580', '86591', '86725', '86756', '86783', '86799', '86845', '86868', '86946', '86964', '86976', '86979', '86996', '87029', '87055', '87070', '87137', '87184', '87267', '87292', '87299', '87432', '87445', '87447', '87536', '87541', '87657', '87717', '87800', '87842', '88031', '88182', '88281', '88313', '88319', '88352', '88388', '88436', '88446', '88587', '88590', '88601', '88661', '88664', '88668', '88845', '88853', '88860', '88873', '88991', '89001', '89002', '89003', '89004', '89006', '89014', '89031', '89070', '89105', '89179', '89195', '89216', '89217', '89258', '89269', '89301', '89393', '89463', '89495', '89508', '89509', '89525', '89533', '89565', '89617', '89626', '89757', '89781', '89813', '89866', '89954', '90038', '90071', '90090', '90110', '90162', '90199', '90215', '90248', '90272', '90319', '90352', '90386', '90435', '90441', '90442', '90454', '90455', '90505', '90520', '90537', '90547', '90601', '90609', '90664', '90720', '90721', '90805', '90808', '90829', '90880', '90979', '90993', '91041', '91063', '91068', '91103', '91143', '91152', '91207', '91218', '91233', '91380', '91388', '91391', '91392', '91416', '91461', '91547', '91556', '91611', '91650', '91668', '91849', '91883', '91926', '91937', '92050', '92108', '92121', '92203', '92239', '92293', '92322', '92402', '92602', '92611', '92614', '92618', '92655', '92709', '92772', '92778', '92890', '92988', '93002', '93089', '93096', '93132', '93246', '93422', '93429', '93436')